@mixin colorAnneau($angle: 0deg) {
  background: conic-gradient(
    from $angle,

    #faca40,
    #f02a47,
    #30f056,
    #3050f0,
    #a948f0,
    #fa8e2c,
    #faca40
  );
}

.anneau {
  display: flex;

  align-self: center;
  justify-self: center;
  min-height: 50vh;
  min-width: 50vw;
  align-items: center;
  justify-content: center;
  border-radius: 60% 40%;
  margin-bottom: 2rem;
  animation-duration: 2000ms;
  animation-name: anneauturn;
  animation-iteration-count: infinite;

  &__texte {
    background-color: #292100;
    font-size: 8rem;
    padding: 0.5rem;
    border-radius: 60% 40%;
    background-position: left 10%;
  }
}

@keyframes anneauturn {
  0% {
    @include colorAnneau($angle: 18deg);
  }
  5% {
    @include colorAnneau($angle: 36deg);
  }
  10% {
    @include colorAnneau($angle: 54deg);
  }
  15% {
    @include colorAnneau($angle: 72deg);
  }
  20% {
    @include colorAnneau($angle: 90deg);
  }
  25% {
    @include colorAnneau($angle: 108deg);
  }
  30% {
    @include colorAnneau($angle: 126deg);
  }
  35% {
    @include colorAnneau($angle: 144deg);
  }
  40% {
    @include colorAnneau($angle: 162deg);
  }
  45% {
    @include colorAnneau($angle: 180deg);
  }
  50% {
    @include colorAnneau($angle: 198deg);
  }
  55% {
    @include colorAnneau($angle: 216deg);
  }
  60% {
    @include colorAnneau($angle: 234deg);
  }
  65% {
    @include colorAnneau($angle: 252deg);
  }
  70% {
    @include colorAnneau($angle: 270deg);
  }
  75% {
    @include colorAnneau($angle: 288deg);
  }
  80% {
    @include colorAnneau($angle: 306deg);
  }
  85% {
    @include colorAnneau($angle: 324deg);
  }
  90% {
    @include colorAnneau($angle: 342deg);
  }
  95% {
    @include colorAnneau($angle: 360deg);
  }

  100% {
    @include colorAnneau($angle: 18deg);
  }
}
