.anneau {
  display: flex;
  // background: conic-gradient(#faca40, #f02a47);
  align-self: center;
  justify-self: center;
  min-height: 50vh;
  min-width: 50vw;
  align-items: center;
  justify-content: center;
  border-radius: 60% 40%;
  margin-bottom: 2rem;
  animation-duration: 3000ms;
  animation-name: anneauturn;
  animation-iteration-count: infinite;

  &__texte {
    background-color: #292100;
    font-size: 8rem;
    padding: 0.5rem;
    border-radius: 60% 40%;
    background-position: left 10%;
  }
}

@keyframes anneauturn {
  0% {
    background: conic-gradient(
      from 10deg,
      #faca40,
      #f02a47,
      #30f056,
      #3050f0,
      #a948f0,
      #fa8e2c
    );
  }
  22% {
    background: conic-gradient(
      from 70deg,
      #faca40,
      #f02a47,
      #30f056,
      #3050f0,
      #a948f0,
      #fa8e2c
    );
  }
  44% {
    background: conic-gradient(
      from 130deg,
      #faca40,
      #f02a47,
      #30f056,
      #3050f0,
      #a948f0,
      #fa8e2c
    );
  }
  66% {
    background: conic-gradient(
      from 210deg,
      #faca40,
      #f02a47,
      #30f056,
      #3050f0,
      #a948f0,
      #fa8e2c
    );
  }
  88% {
    background: conic-gradient(
      from 270deg,
      #faca40,
      #f02a47,
      #30f056,
      #3050f0,
      #a948f0,
      #fa8e2c
    );
  }
  100% {
    background: conic-gradient(
      from 360deg,
      #faca40,
      #f02a47,
      #30f056,
      #3050f0,
      #a948f0,
      #fa8e2c
    );
  }
}
