@use "./styles/reset"; // Retire tout style par défaut des navigateurs
@use "./styles/base"; // Ajuste le style général
@use "./styles/anneau"; // Création de l'anneau

body {
  background-color: #292100;
  color: #292100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  -webkit-text-stroke: 1px #f0f5f8;
}
.zonePrincipal {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.titrePrincipal {
  font-size: 2.4rem;
}

.basPage {
  width: 100vw;
  border-top: #f0f5f8 solid 0.1rem;
  display: flex;
  flex-direction: column;

  font-size: 2.4rem;
  &__partie {
    border-bottom: #f0f5f8 solid 0.1rem;
    margin-top: 2rem;
    &--debut {
      margin-top: 0;
    }
    &--fin {
      margin-top: 0;

      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
.texteAffiche {
  background-color: #292100;
  border: 0;
  width: 80vw;
  height: 3rem;
    font-size: 2.4rem;
}
.texteLabel {
  margin-left: 1rem;
  margin-right: 1rem;
}
