@use "./styles/reset"; // Retire tout style par défaut des navigateurs
@use "./styles/base"; // Ajuste le style général

body {
  background-color: #292100;
  color: #292100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  -webkit-text-stroke: 1px #f0f5f8;
}
.zonePrincipal {
    margin-top: 2rem;
}
.titrePrincipal {
}
